body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: #D1D9E0;
  color: #161823;
}

a {
  text-decoration: none;
  color: #003371;
}

p {
  line-height: 20px;
  padding: 0;
  margin: 0.7em 0;
  padding-left: 20px;
  padding-right: 2em;
}

h3 {
  padding-left: 20px;
}

#article {
  padding-bottom: 50px;
}

#article .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
}

.summary .date {
  font-size: 10px;
  line-height: 16px;
}

code {
  padding: 0;
  border-left: 1px solid black;
}

#panel {
  width: 5em;
  text-align: right;
  background-color: #3F3F3F;
  padding-right: 2em;
  height: 100vh;
  position: fixed;
  color: white;
  font-weight: bold;
}

#panel a {
  color: white;
  line-height: 30px;
}

#panel ul {
  list-style: none;
}

#right {
  margin-left: 7em;
}

#index-summaries {
  padding-left: 20%;
  padding-top: 1em;
}

.hljs {
  padding: 20px !important;
}

