body {
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  background-color: #D1D9E0;
  color: #161823;
}

a {
  text-decoration: none;
  color: #003371;
}

#article {
  padding: 0 0 40px 40px;
}

#article .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 4.5;
}

#article .date {
  font-size: 12px;
  text-align: right;
}

#article #comments {
  margin-top: 20px;
}

.summary .date {
  font-size: 10px;
  line-height: 1em;
}

.summary .title {
  line-height: 2em;
}

#panel {
  width: 80px;
  min-width: 6em;
  text-align: right;
  padding: 20px 20px 0 20px;
  top: 50%;
  transform: translate(0, -50%);
  position: fixed;
  font-weight: bold;
  line-height: 2em;
}

#panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#right {
  margin-left: 120px;
  max-width: 800px;
}

#index-summaries {
  padding: 40px 0 0 20%;
}

.highlight {
  overflow-x: auto;
}
